# CodeIgniter 4
/vendor/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
!/writable/cache/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html
!/writable/debugbar/index.html

# Environment
.env
.env.*
!.env.example

# Editor / OS
.idea/
.vscode/
.DS_Store
*.swp